* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
<<<<<<< HEAD
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 20px;
=======
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    margin: 1rem 0;
>>>>>>> d6dd2cb968ea324de1339d1da3d2fe9620c8e5ef
}
